{% templatetag openblock %} extends "{{ project_name }}/blank.html" {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block css {% templatetag closeblock %}{% templatetag openblock %} include '_inc/css.html' with version=version {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
<body data-ng-app="app">
    <div id="webpage" data-ng-controller="ParentController">
        <header id="header">
            <ul>
                <li><a href="{% templatetag openblock %} url 'home' {% templatetag closeblock %}">Home</a></li>
                <li><a href="{% templatetag openblock %} url 'product_list' {% templatetag closeblock %}">Product List</a></li>
                <li><a href="{% templatetag openblock %} url 'cart' {% templatetag closeblock %}">Cart</a></li>
                {% templatetag openblock %} if request.user.is_authenticated {% templatetag closeblock %}
                <li><a href="{% templatetag openblock %} url 'order_list' {% templatetag closeblock %}">Orders</a></li>
                {% templatetag openblock %} endif {% templatetag closeblock %}
                <li><a href="{% templatetag openblock %} url 'payment_confirmation' {% templatetag closeblock %}">Payment Confirmation</a></li>
            </ul>
        </header>

        <div id="main">
            {% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
        </div>

        <footer id="footer">

        </footer>
    </div>
    {% templatetag openblock %} block js {% templatetag closeblock %}{% templatetag openblock %} include '_inc/js.html' with version=version {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
</body>
{% templatetag openblock %} endblock {% templatetag closeblock %}