{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="cart" data-ng-controller="CartController">
    <h1>CART</h1>
    {% templatetag openblock %} if cart.cart_item_list {% templatetag closeblock %}
    <ul>
        {% templatetag openblock %} for cart_item in cart.cart_item_list {% templatetag closeblock %}
        <li>
            {% templatetag openvariable %} cart_item.product_name {% templatetag closevariable %}
            ({% templatetag openvariable %} cart_item.unit_price {% templatetag closevariable %})
            x
            <button data-ng-click="decreaseQuantity('{{ project_name }}.product.{% templatetag openvariable %} cart_item.product_id {% templatetag closevariable %}', '{% templatetag openvariable %} cart_item.sku {% templatetag closevariable %}')">-</button> {% templatetag openvariable %} cart_item.quantity {% templatetag closevariable %} <button data-ng-click="increaseQuantity('{{ project_name }}.product.{% templatetag openvariable %} cart_item.product_id {% templatetag closevariable %}', '{% templatetag openvariable %} cart_item.sku {% templatetag closevariable %}')">+</button>
            =
            {% templatetag openvariable %} cart_item.get_total {% templatetag closevariable %}
            <button data-ng-click="remove('{{ project_name }}.product.{% templatetag openvariable %} cart_item.product_id {% templatetag closevariable %}', '{% templatetag openvariable %} cart_item.sku {% templatetag closevariable %}')">x</button>
        </li>
        {% templatetag openblock %} endfor {% templatetag closeblock %}
    </ul>
    Total: {% templatetag openvariable %} cart.cart.get_total {% templatetag closevariable %}, Qty: {% templatetag openvariable %} cart.cart.get_total_quantity {% templatetag closevariable %}
    <br>
    <a href="{% templatetag openblock %} url 'checkout_selection' {% templatetag closeblock %}">Checkout</a>
    {% templatetag openblock %} else {% templatetag closeblock %}
    No products in cart.
    {% templatetag openblock %} endif {% templatetag closeblock %}
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}