{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="order-list" data-ng-controller="OrderListController">
    <h1>ORDER LIST</h1>
    {% templatetag openblock %} if object_list {% templatetag closeblock %}
        <ul>
            {% templatetag openblock %} for object in object_list {% templatetag closeblock %}
                <li><a href="{% templatetag openblock %} url 'order_detail' object.id {% templatetag closeblock %}">{% templatetag openvariable %} object.order_reference {% templatetag closevariable %}</a></li>
            {% templatetag openblock %} endfor {% templatetag closeblock %}
        </ul>
    {% templatetag openblock %} else {% templatetag closeblock %}
        You don't have orders.
    {% templatetag openblock %} endif {% templatetag closeblock %}
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}