{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="order-detail" data-ng-controller="OrderDetailController">
    <h1>ORDER DETAIL</h1>

    {% templatetag openvariable %} object.order_reference {% templatetag closevariable %}<br>
    Status: {% templatetag openvariable %} object.get_order_status_display {% templatetag closevariable %}
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}