{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="payment-confirmation" data-ng-controller="PaymentConfirmationController">
    <h1>PAYMENT CONFIRMATION</h1>
    {% templatetag openblock %} if bank_account_list {% templatetag closeblock %}
        <form name="paymentConfirmationForm" novalidate>
            Order Reference:
            {% templatetag openblock %} if unpaid_order_list {% templatetag closeblock %}
                <select data-ng-model="object.order_reference">
                    {% templatetag openblock %} for unpaid_order in unpaid_order_list {% templatetag closeblock %}
                        <option value="">-- Select Order --</option>
                        <option value="{% templatetag openvariable %} unpaid_order.order_reference {% templatetag closevariable %}">{% templatetag openvariable %} unpaid_order.order_reference {% templatetag closevariable %} (Remaining: {% templatetag openvariable %} unpaid_order.get_remaining_payment {% templatetag closevariable %})</option>
                    {% templatetag openblock %} endfor {% templatetag closeblock %}
                </select>
            {% templatetag openblock %} else {% templatetag closeblock %}
                <input type="text" data-ng-model="object.order_reference" data-ng-required="true">
            {% templatetag openblock %} endif {% templatetag closeblock %}
            <br>

            Name:
            <input type="text" data-ng-model="object.name" data-ng-required="true"><br>

            Transferred at:
            <input type="text" data-ng-model="object.event_date" data-ng-required="true"><br>

            From Bank:
            <input type="text" data-ng-model="object.source_bank" data-ng-required="true"><br>

            From A/C:
            <input type="text" data-ng-model="object.source_account_number" data-ng-required="true"><br>

            Destination:
            <select data-ng-model="object.destination_bank" data-ng-required="true">
                <option value="">-- Select Destination Bank --</option>
                {% templatetag openblock %} for bank_account in bank_account_list {% templatetag closeblock %}
                    <option value="{% templatetag openvariable %} bank_account.id {% templatetag closevariable %}">{% templatetag openvariable %} bank_account.name {% templatetag closevariable %} no. {% templatetag openvariable %} bank_account.account_number {% templatetag closevariable %} a/n {% templatetag openvariable %} bank_account.owner {% templatetag closevariable %}</option>
                {% templatetag openblock %} endfor {% templatetag closeblock %}
            </select><br>

            Total Amount:
            <input type="text" data-ng-model="object.total_amount" data-ng-required="true"><br>

            Notes:
            <textarea data-ng-model="object.notes"></textarea><br>

            {% templatetag openblock %} if not request.user.is_authenticated {% templatetag closeblock %}
            <div
                data-vc-recaptcha
                data-theme="'light'"
                data-key="meta.key"
                data-on-create="setWidgetId(widgetId)"
                data-on-success="setResponse(response)"
            ></div>
            {% templatetag openblock %} endif {% templatetag closeblock %}

            {% templatetag openblock %} comment {% templatetag closeblock %}
            Image:
            <input type="text" data-ng-model="object.image"><br>
            {% templatetag openblock %} endcomment {% templatetag closeblock %}

            <button data-ng-disabled="!paymentConfirmationForm.$valid" data-ng-click="submit()">Send</button>
        </form>
    {% templatetag openblock %} else {% templatetag closeblock %}
        For confirmation, please text us.
    {% templatetag openblock %} endif {% templatetag closeblock %}
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}