{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="product-detail" data-ng-controller="ProductDetailController" data-ng-init="init_object={product:'{% templatetag openvariable %} project_name {% templatetag closevariable %}.product.{% templatetag openvariable %} object.id {% templatetag closevariable %}', sku:'{% templatetag openvariable %} object.sku {% templatetag closevariable %}', quantity: {% templatetag openvariable %} object.minimum_order {% templatetag closevariable %}}">
    <h1>PRODUCT DETAIL {% templatetag openvariable %} object.title {% templatetag closevariable %}</h1>
    <input type="number" min="{% templatetag openvariable %} object.minimum_order {% templatetag closevariable %}" data-ng-model="object.quantity"><button data-ng-click="addToCart()">Add to cart</button>
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}