{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="product-list" data-ng-controller="ProductListController">
    <h1>PRODUCT LIST</h1>
    {% templatetag openblock %} if object_list {% templatetag closeblock %}
        <ul>
            {% templatetag openblock %} for object in object_list {% templatetag closeblock %}
                <li><a href="{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}">{% templatetag openvariable %} object.title {% templatetag closevariable %}</a></li>
            {% templatetag openblock %} endfor {% templatetag closeblock %}
        </ul>
    {% templatetag openblock %} else {% templatetag closeblock %}
    Tidak ada produk
    {% templatetag openblock %} endif {% templatetag closeblock %}
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}