{% templatetag openblock %} extends '{{ project_name }}/base.html' {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="login">
<h1>Login</h1>

<form method="post" action="{% templatetag openblock %} url 'auth_login' {% templatetag closeblock %}">
{% templatetag openblock %} csrf_token {% templatetag closeblock %}
{% templatetag openvariable %} form {% templatetag closevariable %}
<button type="submit">Login</button>
</form>

</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}