{% templatetag openblock %} extends '{{ project_name }}/base.html' {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="logout">
<h1>Logout</h1>
You are now logged out.
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}