{% templatetag openblock %} url 'payment_confirmation' as payment_confirmation_url {% templatetag closeblock %}
{% templatetag openblock %} if request.META.PATH_INFO == payment_confirmation_url {% templatetag closeblock %}
    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
{% templatetag openblock %} else {% templatetag closeblock %}
{% templatetag openblock %} endif {% templatetag closeblock %}


{% templatetag openblock %} if settings.STATIC_DEBUG {% templatetag closeblock %}
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/jquery/dist/jquery.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/angular/angular.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/underscore/underscore.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>

<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/angular-tastypie/tastypie.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/angular-file-upload/angular-file-upload.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>


<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/ParentController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/HomeController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/ProductDetailController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/ProductListController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/CartController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/CheckoutSelectionController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/CheckoutReviewController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/CheckoutFinishController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/OrderDetailController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/OrderListController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/PaymentConfirmationController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/app.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/angular-recaptcha/release/angular-recaptcha.js?ver={% templatetag openvariable %} VERSION {% templatetag closevariable %}"></script>
{% templatetag openblock %} else {% templatetag closeblock %}
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/vendors.min.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/uis.min.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/apps.min.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
{% templatetag openblock %} endif {% templatetag closeblock %}