{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="checkout-review" data-ng-controller="CheckoutReviewController">
    <h1>REVIEW</h1>
    {% templatetag openblock %} if cart.cart_item_list {% templatetag closeblock %}
    <h2>Billing Address</h2>
    {% templatetag openvariable %} cart.cart.billing_address.name {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.billing_address.email {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.billing_address.address {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.billing_address.phone {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.billing_address.phone2 {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.billing_address.subdistrict {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.billing_address.city {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.billing_address.state {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.billing_address.zip_code {% templatetag closevariable %}

    <h2>Shipping Address</h2>
    {% templatetag openvariable %} cart.cart.shipping_address.name {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.shipping_address.address {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.shipping_address.phone {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.shipping_address.phone2 {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.shipping_address.subdistrict {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.shipping_address.city {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.shipping_address.state {% templatetag closevariable %}<br>
    {% templatetag openvariable %} cart.cart.shipping_address.zip_code {% templatetag closevariable %}

    <h2>Extra Info</h2>
    {% templatetag openvariable %} cart.cart.extra_info {% templatetag closevariable %}<br>

    <a href="{% templatetag openblock %} url 'checkout_selection' {% templatetag closeblock %}">BACK</a> or <button data-ng-click="submit()">Submit Order</button>
    {% templatetag openblock %} else {% templatetag closeblock %}
    You don't have cart yet!
    {% templatetag openblock %} endif {% templatetag closeblock %}

</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}