{% templatetag openblock %} extends "{{ project_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div id="checkout-selection" data-ng-controller="CheckoutSelectionController">
    <h1>SELECTION</h1>
    {% templatetag openblock %} if cart.cart_item_list {% templatetag closeblock %}
    <form name="checkoutSelectionForm" novalidate>
        <h2><span data-ng-show="meta.shipping_is_not_billing">Billing </span>Address</h2>
        <div class="billing-address">
            <input type="text" placeholder="Name" data-ng-model="object.billing_address.name" data-ng-required="true"><br>
            <input type="email" placeholder="Email" data-ng-model="object.billing_address.email" data-ng-required="true"><br>
            <input type="text" placeholder="Phone" data-ng-model="object.billing_address.phone" data-ng-required="true"><br>
            <input type="text" placeholder="Phone 2" data-ng-model="object.billing_address.phone2"><br>
            <input type="text" placeholder="Address" data-ng-model="object.billing_address.address" data-ng-required="true"><br>
            <input type="text" placeholder="Subdistrict" data-ng-model="object.billing_address.subdistrict" data-ng-required="true"><br>
            <input type="text" placeholder="City" data-ng-model="object.billing_address.city" data-ng-required="true"><br>
            <input type="text" placeholder="State" data-ng-model="object.billing_address.state" data-ng-required="true"><br>
            <input type="text" placeholder="Zip Code" data-ng-model="object.billing_address.zip_code" data-ng-required="true"><br>
            <label><input type="checkbox" data-ng-model="meta.shipping_is_not_billing"> Please ship it to different address!</label>
        </div>

        <div class="shipping-address" data-ng-show="meta.shipping_is_not_billing">
            <h2>Shipping Address</h2>
            <input type="text" placeholder="Name" data-ng-model="object.shipping_address.name" data-ng-required="meta.shipping_is_not_billing"><br>
            <input type="text" placeholder="Phone" data-ng-model="object.shipping_address.phone" data-ng-required="meta.shipping_is_not_billing"><br>
            <input type="text" placeholder="Phone 2" data-ng-model="object.shipping_address.phone2"><br>
            <input type="text" placeholder="Address" data-ng-model="object.shipping_address.address" data-ng-required="meta.shipping_is_not_billing"><br>
            <input type="text" placeholder="Subdistrict" data-ng-model="object.shipping_address.subdistrict" data-ng-required="meta.shipping_is_not_billing"><br>
            <input type="text" placeholder="City" data-ng-model="object.shipping_address.city" data-ng-required="meta.shipping_is_not_billing"><br>
            <input type="text" placeholder="State" data-ng-model="object.shipping_address.state" data-ng-required="meta.shipping_is_not_billing"><br>
            <input type="text" placeholder="Zip Code" data-ng-model="object.shipping_address.zip_code" data-ng-required="meta.shipping_is_not_billing"><br>
        </div>

        <div class="extra-info">
            <h2>Extra Info</h2>
            <textarea placeholder="Add Extra Info" data-ng-model="object.extra_info"></textarea>
        </div>

        <button data-ng-disabled="!checkoutSelectionForm.$valid" data-ng-click="submit()">Submit</button>
    </form>
    {% templatetag openblock %} else {% templatetag closeblock %}
    You don't have cart to checkout!
    {% templatetag openblock %} endif {% templatetag closeblock %}
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}